---
import type { Props } from './types';
import s from './Card.module.css';

const { href, title, body } = Astro.props as Props;
---

<li class={s['link-card']}>
    <a class={s.link} href={href}>
        <h2 class={s.title}>
            {title}
            <span>&rarr;</span>
        </h2>
        <p class={s.body}>
            {body}
        </p>
    </a>
</li>
